.front-page-picture {
  border: 10px solid white;
  box-shadow: 5px 5px 12px 3px #344;
  margin-left: 30px;
  margin-bottom: 30px;

  -ms-transform:rotate(-2deg); /* IE 9 */
  -moz-transform:rotate(-2deg); /* Firefox */
  -webkit-transform:rotate(-2deg); /* Safari and Chrome */
  -o-transform:rotate(-2deg); /* Opera */
  transform:rotate(-2deg);
}

#myCarousel a.muted {
  color: #333333;
}

#myCarousel .hero-unit {
  padding-bottom: 30px;
}

#myCarousel {
  min-height: 380px;
}

#search-form .control-group {
  margin-bottom: 14px;
}

#search-form,
#search-form .control-group:last-child {
  margin-bottom: 0;
}

.chzn-container {
  margin-top: 5px;
}

.help-inline {
  color: #999;
  font-size: 12px;
}

span.help-inline.chzn-tweak {
  margin-top: -15px;
}

/* @group Social sharing */

.social-sharing {
  background: #ffffff;
  margin: 0 0 1.5em;
  padding: .5em;
  text-align: center;
}
.social-sharing .title {
  font-size: .75em;
  font-weight: 700;
  margin: 0 0 .5em;
  text-transform: uppercase;
}

.social-sharing ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.social-sharing ul li {
  display: inline-block;
  list-style: none;
  list-style-type: none;
  margin: 0 .4em .25em 0.4em;
  vertical-align: middle;
}

.social-sharing ul li a {
  display: block;
  background-image: url(img/social.png);
  background-repeat: no-repeat;
  background-position: center center;
  height: 40px;
  width: 40px;
  overflow: hidden;
  text-indent: -9999px;
  border-radius: 50%;
}
  
.social-sharing ul li a.twitter {
  background-position: 0 0;
  background-color: #339CC3;
}
.social-sharing ul li a.facebook {
  background-position: -51px 0;
  background-color: #44619C;
}
.social-sharing ul li a.gplus {
  background-position: -103px 0;
  background-color: #DB4437;
}
.social-sharing ul li a.twitter:hover,
.social-sharing ul li a.facebook:hover,
.social-sharing ul li a.gplus:hover{
  background-color: #333;
}
/* @end */

/* Visualization stuff */
#histogram{
  margin-bottom: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.bar {
  fill: #41B7D8;
}

rect.hovered {
  fill: #666666;
}

rect.selected {
  fill: #000000;
}

.bar:hover {
  cursor: pointer;
  cursor: hand;
}

.x.axis path {
  display: none;
}

.y.axis .domain {
  display: none;
}

.x.axis text,
.y.axis text {
  font-size: 11px;
}

@media (max-width: 768px) {

  .x.axis .tick:nth-child(even){
    display: none;
  }
}

#pop-up {
  display: none;
  position:absolute;
  color: white;
  background: rgba(0,0,0,0.7);
  padding: 5px 10px 5px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  pointer-events: none;
}

#pop-up-title {
  font-size: 14px;
  margin-bottom: 4px;
  font-weight: bolder;
}

#pop-up-content {
  font-size: 12px;
}

@media (max-width: 980px) {
  .row-fluid .blog-post .offset2{
    margin-left: 0;
  }
}