<link href="/stylesheets/corruption-graph.css" media="screen" rel="stylesheet" type="text/css" />

<div class="corruption-graph">
	<div class="item">
		<div class="corruption-graph-picture pp" style="background-image: url(https://quienmanda.s3.amazonaws.com/uploads/avatar/4/icon_aznar.jpg)"></div>
		<div class="corruption-graph-content">
			<h3>Aznar <small>(1996-2004)</small></h3>
			<div class="corruption-graph-bar pp">
				<span style="width:100%"></span>
				<p>141</p>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="corruption-graph-picture psoe" style="background-image: url(https://quienmanda.s3.amazonaws.com/uploads/avatar/30/icon_Zapatero_ceja_4.jpg)"></div>
		<div class="corruption-graph-content">
			<h3>Zapatero <small>(2004-2011)</small></h3>
			<div class="corruption-graph-bar psoe">
				<span style="width:46.1%"></span>
				<p>65</p>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="corruption-graph-picture pp" style="background-image: url(https://quienmanda.s3.amazonaws.com/uploads/avatar/31/icon_225px-Mariano_Rajoy__diciembre_de_2011_.jpg)"></div>
		<div class="corruption-graph-content">
			<h3>Rajoy <small>(2011-Actualidad)</small></h3>
			<div class="corruption-graph-bar pp">
				<span style="width:7.8%"></span>
				<p class="right">11</p>
			</div>
		</div>
	</div>
</div>