<!-- Page Footer -->
<footer class="section" id="footer" role="contentinfo">
  <div class="container">
    <div class="row-fluid">
      <div class="span4">
        <h3>Contacta con nosotros</h3>
        <p>
          La <a href="http://www.civio.es" target="_blank">Fundación Ciudadana Civio</a> es una organización sin ánimo de lucro que busca fomentar una ciudadanía activa e involucrada mediante la tecnología, incidiendo en la transparencia informativa y la apertura de datos.
        </p>
        <ul class="icons">
          <li>
            <i class="icon-envelope"></i>
            <a href="mailto:contacto@civio.es">contacto@civio.es</a>
          </li>
          <li>
            <i class="icon-twitter"></i>
            <a href="http://twitter.com/civio/" target="_blank">@civio</a>
          </li>
          <li>
            <i class="icon-facebook"></i>
            <a href="http://facebook.com/fundacioncivio" target="_blank">Civio</a>
          </li>
        </ul>
      </div>
      <div class="span4">
        <h3>El indultómetro</h3>
        <p>
          Un proyecto de Juan Elosua (<a href="https://twitter.com/jjelosua">@jjelosua</a>) y David Cabo (<a href="https://twitter.com/dcabo">@dcabo</a>) para Civio.
        </p>
        <ul class="unstyled">
          <li><a href="/ayuda.html">Ayuda</a></li>
          <li><a href="/metodologia.html">¿Cómo se hizo?</a></li>
          <li><a href="/programadores.html">API &amp; Código Fuente</a></li>
        </ul>
      </div>
      <div class="span4">
        <h3>En los medios</h3>
        <ul class="unstyled">
          {% for post in site.posts limit:3 %}
          <li>
            <h4>
              <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
            </h4>
            <p>
              <small>{{ post.author }}. {{ post.date | localize: "%d de %B de %Y" }}</small>
            </p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</footer>
<script src="/javascripts/jquery.min.js" type="text/javascript"></script>
<script src="/javascripts/jquery.chosen.min.js" type="text/javascript"></script>
<script src="/javascripts/bootstrap.js" type="text/javascript"></script>
<script src="/javascripts/script.js" type="text/javascript"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="/javascripts/URI.min.js" type="text/javascript"></script>
<script src="/javascripts/footable-0.1.js" type="text/javascript"></script>
<script src="/javascripts/footable.sortable.js" type="text/javascript"></script>
<script type="text/javascript">$.each(q,function(i,f){$(f)})</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28946840-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>