<!-- Page Header -->
<header id="masthead">
  <nav class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <h1 class="brand">
          <a href="/index.html">
            El indultómetro
            <i class="icon-legal"></i>
          </a>
        </h1>
        <div class="nav-collapse collapse">
          <ul class="nav pull-right">
            <li class="{% if page.nav_section == 'all_pardons' %} active {% endif %}"><a href="/indultos.html">10.000 indultos</a></li>
            <li class="{% if page.nav_section == 'main_pardons' %} active {% endif %}"><a href="/famosos.html">Destacados</a></li>
            <li class="{% if page.nav_section == 'media' %} active {% endif %}"><a href="/noticias.html">Artículos</a></li>
            <li><a target="_blank" href="http://www.civio.es"><img src="/images/civio.png"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>