<div class="social-sharing">
  <p class="title">Compártelo</p>

  <ul>
    <li>
      <a class="twitter" onclick="window.open('https://twitter.com/intent/tweet?text='+encodeURIComponent('El indultómetro - {{ page.title }}')+'&amp;url='+encodeURIComponent(window.location.href ),'sharer','toolbar=0,status=0,width=548,height=500');" href="javascript: void(0)" title="Comparte esta página en Twitter">
        <span>Tweet</span>
      </a>
    </li>
    <li>
      <a class="facebook" onclick="window.open('https://www.facebook.com/dialog/share?app_id=345798202489007&amp;display=popup&amp;href='+encodeURIComponent(window.location.href )+'&amp;redirect_uri='+encodeURIComponent(window.location.href ),'sharer','toolbar=0,status=0,width=548,height=325');" href="javascript: void(0)" title="Comparte esta página en Facebook">
        <span>Compartir</span>
      </a>
    </li>
    <li>
      <a class="gplus" onclick="window.open('https://plus.google.com/share?url='+encodeURIComponent(window.location.href),'sharer','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,width=548,height=500');" href="javascript: void(0)" title="Comparte en Google Plus">
        <span>+1</span>
      </a>
    </li>
  </ul>
</div>