---
nav_section: media
---

{% include header.html %}
<!-- Main Content -->
<div id="content" role="main">
<section class="section alt" id="promo">
  <div class="container">
    <div class="hero-sunit">
      <h1><a href="/noticias.html">Artículos</a></h1>
    </div>
  </div>
</section>
<!-- Main Content -->
<section class="section">
  <div class="container">
    <div class="row-fluid">
      <div class="span9">
        <article class="blog-post">
          <header class="blog-header">
            <h2>
              {{ page.title }}
            </h2>
          </header>
          <figure class="thumbnail-figure">
            <img alt="" src="{{ page.image }}" style="opacity: 1 !important"/>
            <figcaption class="thumbnail-title">
              <h5>
                <a href="{{ page.url }}"><span>
                por {{ page.author }},
                {{ page.date | localize: "%d de %B de %Y" }}.
                </span></a>
              </h5>
            </figcaption>
          </figure>
          <div class="offset2">
            <p><strong><big>{{ page.lead }}</big></strong></p>
            {{ content }}
          </div>
        </article>
      </div>
      <aside class="span3 sidebar">
        <div class="sidebar-widget">
        {% include latest_posts.html %}
        </div>
      </aside>
    </div>
  </div>
  {% include sharing.html %}
</section>
</div>

{% include footer.html %}
