---
title: ¿Qué es esto?
body-attributes: data-target=".docs-sidebar-menu" data-spy="scroll"
nav_section: help
---

{% include header.html %}
<!-- Main Content -->
<div id="content" role="main">
<section class="section alt" id="promo">
  <div class="container">
    <div class="hero-unit">
      <h1>¿Qué es esto?</h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="row-fluid">
      <div class="span9">
        <article class="blog-post">
          <header class="blog-header">
            <h2>
              ¿Tienes preguntas?
              <small>tenemos respuestas</small>
            </h2>
          </header>
          <p>
            Algunas de las respuestas que aquí incluimos han sido copiadas de las propias páginas del <a href="http://www.mjusticia.gob.es/cs/Satellite/es/1200666550194/DetalleInicio.html" target="_blank">Ministerio de Justicia</a>.
          </p>
          <div class="accordion" id="accordion">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#que-es">
                  <strong>1. ¿Qué es un indulto?</strong>
                </a>
              </div>
              <div class="accordion-body collapse" id="que-es">
                <div class="accordion-inner">
                  Es una medida de gracia, de carácter excepcional, consistente en la remisión total o parcial de las penas de los condenados por sentencia firme, que otorga el Rey, a propuesta del Ministro de Justicia, previa deliberación del Consejo de Ministros
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#quien-puede">
                  <strong>2. ¿Quienes pueden ser indultados?</strong>
                </a>
              </div>
              <div class="accordion-body collapse" id="quien-puede">
                <div class="accordion-inner">
                  Los reos de toda clase de delitos.
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#efectos">
                  <strong>3. ¿Cuáles son los efectos del indulto?</strong>
                </a>
              </div>
              <div class="accordion-body collapse" id="efectos">
                <div class="accordion-inner">
                 La extinción de la responsabilidad penal. No cancela los antecedentes penales.
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#no-puede">
                  <strong>4. ¿Quiénes no pueden ser indultados?</strong>
                </a>
              </div>
              <div class="accordion-body collapse" id="no-puede">
                <div class="accordion-inner">
                  <ul>
                    <li>Quienes estén siendo procesados criminalmente pero aún no hayan sido condenados por sentencia firme.</li>
                    <li>Quienes no se encuentren a disposición del Tribunal sentenciador para el cumplimiento de la condena.</li>
                    <li>Los reincidentes en el mismo o en cualquier otro delito por el que hubiesen sido condenados por sentencia firme. Se exceptúan, sin embargo, los casos en que, a juicio del Tribunal sentenciador, hubiese razones suficientes de justicia, equidad o conveniencia pública para otorgarle la gracia.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#tipos">
                  <strong>5. ¿Qué tipos de indulto existen?</strong>
                </a>
              </div>
              <div class="accordion-body collapse" id="tipos">
                <div class="accordion-inner">
                  El indulto puede ser:
                  <ul>
                    <li>Total: Remisión de todas las penas a que hubiese sido condenado y que aún no hubiese cumplido el penado.</li>
                    <li>Parcial: Remisión de alguna o algunas de las penas impuestas, o de parte de todas ellas que aún no hubiese cumplido el penado.</li>
                  </ul>
                  Se reputará también indulto parcial la conmutación de la pena o penas impuestas al penado en otras menos graves.<br>

                  En ningún caso el indulto comprenderá la responsabilidad civil derivada del delito. El indulto de penas pecuniarias (multa) exime al indultado de pagar las cantidades aún no satisfechas, pero no implica la devolución de las ya pagadas, salvo que se diga expresamente.
                </div>
              </div>
            </div>

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#LOPD">
                  <strong>6. ¿Por qué no mostráis los nombres de los indultados?</strong>
                </a>
              </div>
              <div class="accordion-body collapse" id="LOPD">
                <div class="accordion-inner">
                  <p>Estamos analizando la relevancia de la Ley de Protección de Datos a la hora de tratar la información de indultos. Mientras tanto hemos decidido no trabajar <strong>en ningún momento</strong> con los nombres de los indultados en ningún paso de nuestro proceso.</p>

                  <p>En el año 2000 la Asociación Contra La Tortura fue condenada a pagar <a href="http://contencioso.es/2008/07/18/el-tribunal-supremo-confirma-la-millonaria-sancion-a-la-asociacion-contra-la-tortura-por-divulgar-datos-personales-de-policias-y-politicos-a-traves-de-la-web/">60 millones de pesetas de multa</a> (360.000€ del año 2000) por crear una lista de policías y funcionarios de prisiones condenados y/o acusados de torturas. La Audiencia Nacional afirma en <a href="http://www.agpd.es/portalwebAGPD/canaldocumentacion/sentencias/common/Sentencia-de-la-Audiencia-Nacional-de28.pdf">la sentencia</a> que sólo la Administración puede crear una base de datos de "infracciones penales o administrativas", "con independencia del origen público o privado del dato".</p>
                </div>
              </div>
            </div>

          </div>
        </article>
      </div>
      <aside class="span3 sidebar">
        <div class="sidebar-widget">
          <h2 class="sidebar-header">¿Algo más?</h2>
          <p>
            Si aún tienes alguna duda o quieres hacernos llegar algún comentario, escríbenos y te responderemos lo antes posible. 
          </p>
          <a href="mailto:contacto@civio.es" class="btn btn-primary">Mándanos un correo</a>
        </div>
      </aside>
    </div>
  </div>
</section>
</div>
<script type="text/javascript">
$(function () {
  // Unfold the linked accordion element in the URL
  location.hash && $(location.hash + '.collapse').collapse('show');
});
</script>
{% include footer.html %}
