---
title: Indultos destacados
body-attributes: data-target=".docs-sidebar-menu" data-spy="scroll"
nav_section: main_pardons
---

{% include header.html %}
<!-- Main Content -->
<div id="content" role="main">
<section class="section alt" id="promo">
  <div class="container">
    <div class="hero-unit">
      <h1>{{ page.title }}</h1>
    </div>
  </div>
</section>
<div class="section">
  <div class="container">
    <!--<div class="row-fluid">-->
      <iframe src='http://embed.verite.co/timeline/?source=0Ar3KSfz0LI8kdENqV1lLMzRlS3pUaW5sZWM2VDJ0Umc&maptype=TERRAIN&lang=es&hash_bookmark=true&height=650' width='100%' height='670' frameborder='1'></iframe>
    <!--</div>-->
  </div>
</div>
</div>
{% include footer.html %}
