---
layout: base
title: El indultometro
---

{% include header.html %}

<!-- Main Content -->
<div id="content" role="main">
<section class="section alt" id="promo">
  <div class="container" >
    <div class="carousel slide" id="myCarousel" data-interval="8000">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item">
          <div class="row-fluid">
            <a href="/indultos.html" class="muted">
              <div class="span7 hero-unit">
                <h1>10.158 indultos desde 1996</h1>
                <p>A pesar de que la ley indica que es una "medida excepcional" los sucesivos gobiernos españoles la han utilizado de forma generalizada. En total, han decretado casi 600 indultos por año, con una media de 1,64 al día.</p>
              </div>
              <div class="span4">
                <img alt="Justicia" class="front-page-picture" src="images/assets/justice.jpg" style="margin-top: 30px"/>
              </div>
            </a>
          </div>      
        </div>
        <div class="item">
          <div class="row-fluid">
            <a href="/2013/02/27/los-mas-rapidos-a-este-lado-de-los-pirineos.html" class="muted">
              <div class="span7 hero-unit">
                <h1>Los más rápidos a este lado de los Pirineos</h1>
                <p>Un análisis sobre el tiempo transcurrido entre la condena y el indulto por categoría de delito y un repaso por las medidas de gracia más veloces.</p>
              </div>
              <div class="span4">
                <img alt="Paisaje Oeste" class="pull-right front-page-picture" src="images/assets/oeste.jpg" style="margin-top: 30px"/>
              </div>
            </a>
          </div>
        </div>
        <div class="item">
          <div class="row-fluid">
            <a href="/2012/12/21/ley-provisiona-cumple-siglo-y-medio.html" class="muted">
              <div class="span7 hero-unit">
                <h1>Una ley que cumple siglo y medio</h1>
                <p>La norma que lo regula es la 'Ley Provisional de 18 de junio de 1870 por el que se establecen normas para el ejercicio de la gracia del indulto'. Su legado ha permanecido, casi inalterable, hasta nuestros días.</p>
              </div>
              <div class="span4">
                <img alt="Gaceta de 1870" class="pull-right front-page-picture" src="images/assets/gaceta.jpg" style="margin-top: 30px"/>
              </div>
            </a>
          </div>
        </div>
        <div class="item">
          <div class="row-fluid">
            <a href="/indultos.html" class="muted">
              <div class="hero-unit pull-center">
                <h1>Torturas, terrorismo, malversación, prevaricación, cohecho, tráfico de personas...</h1>
                <p>Aunque los delitos más comunes - contra la salud pública, robos... - son también los que más indultos suman, en la lista se cuelan crímenes, prevaricación, delitos contra la seguridad del tráfico y torturas.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="item">
          <div class="row-fluid">
            <div class="hero-unit pull-center">
              <h1>&#8220;Porque es año jubilar&#8221; &#8220;y punto&#8221;</h1>
              <p>La ley no obliga al Gobierno a hacer públicas las razones que le motivan a conceder la medida de gracia, pero en algunas ocasiones han tenido que responder a la prensa ante decisiones polémicas. Ángel Acebes, ministro de Justicia durante <a href="/famosos.html#3">el indulto masivo a 1.328 condenados</a> del 1 de diciembre del 2000 basó sus razones en el fin del milenio y el año jubilar. José Luís Rodríguez Zapatero, por su parte, justificó el <a href="/famosos.html#8">indulto 'in extremis' a Alfredo Sáenz</a> con estas palabras: "Se entendió que era razonable y punto".</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" data-slide="prev" href="#myCarousel">&lsaquo;</a>
      <a class="carousel-control right" data-slide="next" href="#myCarousel">&rsaquo;</a>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="page-header">
      <h1>
        A Fondo
        <small>Aprende cómo funcionan los indultos y explora los datos históricos</small>
      </h1>
    </div>
    <ul class="thumbnails bordered thumbnail-list">
      <li class="span4">
        <a href="/2013/02/27/los-mas-rapidos-a-este-lado-de-los-pirineos.html">
          <figure class="thumbnail-figure">
            <img alt="Los más rápidos a este lado de los Pirineos" src="images/assets/oeste.jpg" />
            <figcaption class="thumbnail-title">
              <h3>
                <span>Los más veloces</span>
              </h3>
              <p>
                <span>por Eva Belmonte y Juan Elosua</span>
              </p>
            </figcaption>
          </figure>
        </a>
        <p>
            Un <a href="/2013/02/27/los-mas-rapidos-a-este-lado-de-los-pirineos.html">análisis</a> sobre el tiempo transcurrido entre la condena y el indulto por categoría de delito y un repaso por las medidas de gracia más veloces.
        </p>
      </li>
      <li class="span4">
        <a href="indultos.html">
          <figure class="thumbnail-figure">
            <img alt="Todos los indultos " src="images/assets/history.jpg" />
            <figcaption class="thumbnail-title">
              <h3>
                <span>Todos los indultos</span>
              </h3>
              <p>
                <span>Explora más de 10,000 indultos</span>
              </p>
            </figcaption>
          </figure>
        </a>
        <p>
          Descubre cuántos indultos se concedieron cada año, a condenados de qué delitos y accede a <a href="indultos.html">nuestra base de datos histórica</a> desde 1996.
        </p>
      </li>
      <li class="span4">
        <a href="famosos.html">
          <figure class="thumbnail-figure">
            <img alt="Los más destacados" src="images/assets/timeline.jpg" />
            <figcaption class="thumbnail-title">
              <h3>
                <span>Los más destacados</span>
              </h3>
              <p>
                <span>Una selección de los más polémicos</span>
              </p>
            </figcaption>
          </figure>
        </a>
        <p>
          Sáenz, Gómez de Liaño, Sevitje, cuatro mossos acusados de torturas, alcaldes prevaricadores, estafadores... Repasa <a href="/famosos.html">los casos más sonados</a>.
        </p>
      </li>
    </ul>
    {% include sharing.html %}
  </div>
</section>
<section class="section alt">
  <div class="container">
    <div class="page-header">
      <h1>
        ¿Por qué hacemos esto?
        <small>Nuestros objetivos:</small>
      </h1>
    </div>
    <div class="row-fluid">
      <ul class="thumbnails pull-center">
        <li class="span3">
          <h3>
            <i class="icon-search huge-icon"></i>
            <span class="blocked">Transparencia</span>
          </h3>
          <p>
            Creemos en una sociedad informada como base para una ciudadanía activa.
          </p>
        </li>
        <li class="span3">
          <h3>
            <i class="icon-comments huge-icon"></i>
            <span class="blocked">Rendición de cuentas</span>
          </h3>
          <p>
            La información pública contextualizada incentiva a legisladores y gobernantes a responder de sus decisiones.
          </p>
        </li>
        <li class="span3">
          <h3>
            <i class="icon-check huge-icon"></i>
            <span class="blocked">Fact-checking</span>
          </h3>
          <p>
            Queremos establecer una base de datos rigurosa para análisis o investigaciones.
          </p>
        </li>
        <li class="span3">
          <h3>
            <i class="icon-group huge-icon"></i>
            <span class="blocked">Tres poderes</span>
          </h3>
          <p>
            Pensamos que esta incursión del poder ejecutivo en la tarea del judicial debe ser vigilada.
          </p>
        </li>
      </ul>
    </div>

    <div class="row-fluid">
      <ul class="thumbnails bordered">
        <li>
          <div class="row-fluid">
            <div class="well">
              <div class="span4 pull-center" style="margin-top: 20px">
                <i class="icon-thumbs-up enormous-icon circled pull-center"></i>
              </div>
              <div class="span8">
                <h3>Colabora con nosotros</h3>
                <p>
                  Queremos seguir trabajando para que esta información sea accesible para todos los ciudadanos. Si te gusta el proyecto, puedes ayudarnos con <a href="http://www.civio.es/financiacion/">una donación</a>. También necesitamos ayuda técnica (diseño web y UX especialmente, pero también sysadmin o programación Rails/Javascript), si te interesa <a href="mailto:contacto@civio.es">escríbenos</a>.
                </p>
              </div>
              <div style="clear: both"/>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>
</section>
</div>
{% include footer.html %}
