---
title: Más de 10.000 indultos
nav_section: all_pardons
---

{% include header.html %}
<!-- Main Content -->
<div id="content" role="main">
<section class="section alt" id="promo">
  <div class="container">
    <div class="hero-unit">
      <h1>{{ page.title }}</h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="row-fluid">
      <div class="span10 offset1">
        <p>
          Hemos <a href="/metodologia.html">recopilado, desgranado y clasificado toda la información contenida en el BOE</a> sobre los indultos concedidos en España desde 1996. Puedes buscar por tipo de delito, comparar los datos anuales y valorar el uso que los distintos gobiernos han hecho de esta prerrogativa. En definitiva, te invitamos a escarbar entre los datos.
        </p>
        <p><small>
          Fuente: <a href="http://www.boe.es/" target="_blank">Agencia Estatal del Boletín Oficial del Estado</a>, años 1996-2013. Datos actualizados a 7 de Febrero de 2013.
        </small></p>
        {% include sharing.html %}

        <div class="well">
          <form id="search-form" class="form-horizontal chosen">
            <fieldset>
              <div class="control-group">
                <label class="control-label" for="search-form-query">Texto libre</label>
                <div class="controls">
                  <input name="q" class="input-xlarge" id="search-form-query" type="text" id="search-form-query">
                    <span class="help-inline">No incluye el nombre del indultado. <a href="/ayuda.html#LOPD">¿Por qué?</a></span>
                  </input>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="category">Categoría</label>
                <div class="controls">
                  <select name="category" data-placeholder="Elige una categoría" id="search-form-category" class="chzn-select">
                    <option value=""></option>
                  </select>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">
                  <img id="waiting-indicator" src="/images/waiting.gif">
                </label>
                <div class="controls">
                  <button type="submit" class="btn btn-primary">Filtrar</button>
                  <button class="btn" id="clear-form-button">Quitar filtros</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>

        <div class="alert alert-info alert-block fade in">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <p>Pincha en cualquier barra para ver todos los indultos de ese año. También puedes filtrar los resultados por palabra o categoría.</p>
        </div>

        <div id="histogram"></div>

        <div id="pop-up">
          <div id="pop-up-title"></div>
          <div id="pop-up-content">Haz click para verlos en detalle</div>
        </div>
        <small>
          <table class="table table-bordered table-striped footable" id="indultos">
            <thead>
              <tr>
                <th data-sort-initial="true">Fecha</th>
                <th data-hide="phone">Tipo</th>
                <th data-hide="phone">Delito</th>
                <th data-class="expand" data-sort-ignore="true">Detalle</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </small>
      </div>
    </div>
  </div>
</section>
</div>

<script src="/javascripts/histogram.js" type="text/javascript"></script>
<script src="/javascripts/pardons.js" type="text/javascript"></script>

{% include footer.html %}
