---
title: 10.000 indultos
subtitle: This is the lead
nav_section: all_pardons
---

{% include header.html %}
<!-- Main Content -->
<div id="content" role="main">
<section class="section alt" id="promo">
  <div class="container">
    <div class="hero-unit">
      <h1>{{ page.title }}</h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <article class="blog-post">
          <header class="blog-header">
            <h2>
              {{ page.subtitle }}
            </h2>
          </header>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <div class="row-fluid">
            <div class="span10 offset1">
              <form class="pull-left" id="search-form">
                <input type="text" class="span7" id="search-form-query">
                <button type="submit" class="btn">Buscar</button>
              </form>
            </div>
            <div class="span10 offset1">            
              <p>Se firmaron <span id="pardon-count-legend"></span> indultos en el año <span id="pardon-year-legend"></span>.
                Haz click para verlos en detalle.</p>
            </div>
            <div class="span10 offset1" id="summary-viz">
            </div>
            <div class="span10 offset1">
              <small>
                <table class="table table-bordered table-striped" id="indultos">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Fecha</th>
                      <th>Rol</th>
                      <th>Delito</th>
                      <th></th>
                      <!-- FIXME: Quito Rol, -->
                      <!-- FIXME: Add link to BOE -->
                      <!-- FIXME: Add link to detail page -->
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </small>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
</div>

<script type='text/javascript'>
  // http://samsaffron.com/archive/2012/02/17/stop-paying-your-jquery-tax
  window.q=[];window.$=function(f){q.push(f)}
</script>


<!-- // FIXME: Move this to separate file -->
<style>
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}
</style>
<script> 
  $(function() {
    // FIXME: Move this to separate file

    function renderResults(data) {
      $('#indultos tbody').empty();
      var fragments = [];
      $.each(data, function(key, pardon) {
        fragments.push('<tr>');
        fragments.push('<td><a href="http://www.boe.es/diario_boe/txt.php?id='+pardon['id']+'">'+pardon['id']+'</td>')
        fragments.push('<td>'+pardon['pardon_date']+'</td>')
        fragments.push('<td>'+pardon['role']+'</td>')
        fragments.push('<td>'+pardon['crime']+'</td>')
        fragments.push('<td><a href="/indulto.html?id='+pardon['id']+'">&rarr;</td>')
        fragments.push('</tr>');
      });
      $(fragments.join('')).appendTo('#indultos tbody');
    }

    function displayYear(year) {
      $.ajax({
        url: '/api/pardons?callback=?',
        data: {year: year},
        dataType: "jsonp",
        jsonpCallback: "onLoad",
        cache: false  // FIXME: development
      }).success(renderResults);      
    }

    function doSearch(query) {
      $.ajax({
        url: '/api/search',
        data: {q: query},
      }).success(renderResults);      
    }

    function onHover(d) {
      $("#pardon-count-legend").text(d.count);
      $("#pardon-year-legend").text(d.year);
    }

    function onClick(d) {
      displayYear(d.year);
    }

    var margin = {top: 20, right: 20, bottom: 30, left: 60},
        width = 800 - margin.left - margin.right,
        height = 300 - margin.top - margin.bottom;

    var x = d3.scale.ordinal()
        .rangeRoundBands([0, width], .1);

    var y = d3.scale.linear()
        .range([height, 0]);

    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom");

    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left");

    var svg = d3.select("#summary-viz").append("svg")
        .attr("width", '100%')
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    d3.json("/api/summary", function(error, data) {
      if (error) return console.warn(error);

      x.domain(data.map(function(d) { return d.year; }));
      y.domain([0, d3.max(data, function(d) { return d.count; })]);

      svg.append("g")
          .attr("class", "x axis")
          .attr("transform", "translate(0," + height + ")")
          .call(xAxis);

      svg.append("g")
          .attr("class", "y axis")
          .call(yAxis)
        .append("text")
          .attr("transform", "rotate(-90)")
          .attr("y", 6)
          .attr("dy", ".71em")
          .style("text-anchor", "end")
          .text("Indultos");

      svg.selectAll(".bar")
          .data(data)
        .enter().append("rect")
          .attr("class", "bar")
          .attr("x", function(d) { return x(d.year); })
          .attr("width", x.rangeBand())
          .attr("y", function(d) { return y(d.count); })
          .on("mouseover", onHover)
          .on("click", onClick)
          .attr("height", function(d) { return height - y(d.count); });
    });

    displayYear('2007');

    $("#search-form").submit(function() {
      doSearch($("#search-form-query").val());
      // FIXME: Update viz with results summary
      return false;
    });
  });
</script>

{% include footer.html %}
