---
layout: base
---

{% include head.html %}

<!-- Custom styles -->
<style type="text/css">
body{ padding: 1px; }
#search-form-query{ max-width: 336px; }
#histogram .x.axis .tick line{ display: none; }
</style>

<div class="well">
  <form id="search-form" class="form-horizontal chosen">
    <fieldset>
      <div class="control-group">
        <label class="control-label" for="search-form-query">Free text</label>
        <div class="controls">
          <input name="q" class="input-xlarge" id="search-form-query" type="text">
            <span class="help-inline">Does not include the name of the pardoned. <a href="https://civio.es/el-indultometro/preguntas-frecuentes/#por-que-no-mostrais-los-nombres-de-los-indultados" target="_blank">Why?</a></span>
          </input>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="category">Category</label>
        <div class="controls">
          <select name="category" data-placeholder="Choose a category" id="search-form-category" class="chzn-select span6">
            <option value=""></option>
          </select>
          <span class="help-inline chzn-tweak">According to the Penal Code</span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="region">Region</label>
        <div class="controls">
          <select name="region" data-placeholder="Choose a Autonomous Community" id="search-form-region" class="chzn-select span6">
            <option value=""></option>
            <option value="01">Andalucía</option>
            <option value="02">Aragón</option>
            <option value="03">Asturias</option>
            <option value="04">Baleares</option>
            <option value="05">Canarias</option>
            <option value="06">Cantabria</option>
            <option value="07">Castilla y León</option>
            <option value="08">Castilla La Mancha</option>
            <option value="09">Cataluña</option>
            <option value="10">Comunidad Valenciana</option>
            <option value="11">Extremadura</option>
            <option value="12">Galicia</option>
            <option value="13">Madrid</option>
            <option value="14">Murcia</option>
            <option value="15">Navarra</option>
            <option value="16">País Vasco</option>
            <option value="17">La Rioja</option>
            <option value="18">Ceuta</option>
            <option value="19">Melilla</option>
            <option value="NULL">Others</option>
          </select>
        </div>
      </div>
      <input type="hidden" name="is_corruption" id="search-form-corruption">
      <div class="control-group">
        <label class="control-label">
          <img id="waiting-indicator" src="/images/waiting.gif">
        </label>
        <div class="controls">
          <button type="submit" class="btn btn-primary">Filter</button>
          <button class="btn" id="clear-form-button">Remove filters</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>

<div class="alert alert-info alert-block fade in">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p>Click on any bar to see all pardons that year. You can also filter the results by word or category.</p>
</div>

<div id="histogram"></div>

<div id="pop-up">
  <div id="pop-up-title"></div>
  <div id="pop-up-content">Click to see them in detail</div>
</div>

<div id="search-results-container">
  <small>
    <table class="table table-bordered table-striped footable" id="indultos">
      <thead>
        <tr>
          <th data-sort-initial="true">Date</th>
          <th data-hide="phone">Type</th>
          <th data-hide="phone">Crime</th>
          <th data-class="expand" data-sort-ignore="true">Detail</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <div class="alert alert-info alert-block fade in" id="too-many-results-alert">
      <p>Note: The table only shows the first 500 results.</p>
    </div>
  </small>
</div>

<script src="/javascripts/jquery.min.js" type="text/javascript"></script>
<script src="/javascripts/jquery.chosen.min.js" type="text/javascript"></script>
<script src="/javascripts/bootstrap.js" type="text/javascript"></script>
<script src="/javascripts/script.js" type="text/javascript"></script>
<script src="//d3js.org/d3.v3.min.js"></script>
<script src="/javascripts/URI.min.js" type="text/javascript"></script>
<script src="/javascripts/footable-0.1.js" type="text/javascript"></script>
<script src="/javascripts/footable.sortable.js" type="text/javascript"></script>
<script type="text/javascript">$.each(q,function(i,f){$(f)})</script>

<script type="text/javascript" src="https://pym.nprapps.org/pym.v1.min.js"></script>
<script src="/javascripts/histogram.js" type="text/javascript"></script>
<script src="/javascripts/pardons.js" type="text/javascript"></script>

{% include analytics.html %}
