---
title: 10.000 indultos
subtitle: This is the lead
nav_section: all_pardons
---

{% include header.html %}
<!-- Main Content -->
<div id="content" role="main">
<section class="section alt" id="promo">
  <div class="container">
    <div class="hero-unit">
      <h1>{{ page.title }}</h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <article class="blog-post">
          <header class="blog-header">
            <h2>
              {{ page.subtitle }}
            </h2>
          </header>
          <div class="row-fluid">
            <div class="span10 offset1">
              <small>
                <table class="table table-bordered table-striped" id="indultos">
                  <tbody>
                  </tbody>
                </table>
              </small>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span10 offset1">
              {% include disqus.html %}
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
</div>

<script type='text/javascript'>
  // http://samsaffron.com/archive/2012/02/17/stop-paying-your-jquery-tax
  window.q=[];window.$=function(f){q.push(f)}
</script>
<script> 
  $(function() {
    function renderResults(data) {
      $('#indultos tbody').empty();
      var fragments = [];
      fragments.push('<tr><td>Id BOE</td><td>'+data['id']+'</td></tr>');
      fragments.push('<tr><td>Fecha del BOE</td><td>'+data['boe_date']+'</td></tr>');
      fragments.push('<tr><td>Ministerio</td><td>'+data['ministry']+'</td></tr>');
      fragments.push('<tr><td>Genero</td><td>'+data['gender']+'</td></tr>');
      fragments.push('<tr><td>Tribunal sentenciador</td><td>'+data['court']+'</td></tr>');
      fragments.push('<tr><td>Fecha de sentencia</td><td>'+data['trial_date']+'</td></tr>');
      fragments.push('<tr><td>Rol del acusado</td><td>'+data['role']+'</td></tr>');
      fragments.push('<tr><td>Crimen</td><td>'+data['crime']+'</td></tr>');
      fragments.push('<tr><td>Año del crimen (inicio)</td><td>'+data['crime_start']+'</td></tr>');
      fragments.push('<tr><td>Año del crimen (final)</td><td>'+data['crime_end']+'</td></tr>');
      fragments.push('<tr><td>Tipo de indulto</td><td>'+data['pardon_type']+'</td></tr>');
      fragments.push('<tr><td>Indulto</td><td>'+data['pardon']+'</td></tr>');
      fragments.push('<tr><td>Condiciones adicionales</td><td>'+data['caveats']+'</td></tr>');
      fragments.push('<tr><td>Fecha del indulto</td><td>'+data['pardon_date']+'</td></tr>');
      fragments.push('<tr><td>Ministro responsable</td><td>'+data['signature']+'</td></tr>');
      $(fragments.join('')).appendTo('#indultos tbody');
    }

    var id = URI.parseQuery(window.location.search)['id'];
    $.ajax({
      url: '/api/pardons/'+encodeURIComponent(id)+'?callback=?',  // FIXME
      dataType: "jsonp",
      jsonpCallback: "onLoad",
      cache: false  // FIXME: development
    }).success(renderResults);      
  });
</script>

{% include footer.html %}
