---
title: Detalle de un indulto
subtitle: This is the lead
nav_section: all_pardons
---

{% include header.html %}
<!-- Main Content -->
<div id="content" role="main">
<section class="section alt" id="promo">
  <div class="container">
    <div class="hero-unit">
      <h1 id="h1_pardon"></h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <article class="blog-post">
          <div class="row-fluid">
            <div class="span10 offset1">
              {% include sharing.html %}
              <small>
                <table class="table table-bordered table-striped" id="indultos">
                  <tbody>
                  </tbody>
                </table>
              </small>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span10 offset1">
              {% include disqus.html %}
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
</div>
<script> 
  $(function() {
    var id = URI.parseQuery(window.location.search)['id'];
    $("#h1_pardon").html('Indulto: <a target="_blank" href="http://www.boe.es/diario_boe/txt.php?id='+
    id+'">'+id+'</td></tr>')
    function renderResults(data) {
      $('#indultos tbody').empty();
      var fragments = [];
      fragments.push('<tr><td>Fecha publicación</td><td>'+data['boe_date']+'</td></tr>');
      fragments.push('<tr><td>Ministerio</td><td>'+data['ministry']+'</td></tr>');
      fragments.push('<tr><td>Genero</td><td>'+data['gender']+'</td></tr>');
      fragments.push('<tr><td>Tribunal sentenciador</td><td>'+data['court']+'</td></tr>');
      fragments.push('<tr><td>Fecha de sentencia</td><td>'+data['trial_date']+'</td></tr>');
      fragments.push('<tr><td>Rol del acusado</td><td>'+data['role']+'</td></tr>');
      fragments.push('<tr><td>Crimen</td><td>'+data['crime']+'</td></tr>');
      fragments.push('<tr><td>Año del crimen (inicio)</td><td>'+data['crime_start']+'</td></tr>');
      fragments.push('<tr><td>Año del crimen (final)</td><td>'+data['crime_end']+'</td></tr>');
      fragments.push('<tr><td>Tipo de indulto</td><td>'+data['pardon_type']+'</td></tr>');
      fragments.push('<tr><td>Indulto</td><td>'+data['pardon']+'</td></tr>');
      fragments.push('<tr><td>Condiciones adicionales</td><td>'+data['caveats']+'</td></tr>');
      fragments.push('<tr><td>Fecha del indulto</td><td>'+data['pardon_date']+'</td></tr>');
      fragments.push('<tr><td>Ministro responsable</td><td>'+data['signature']+'</td></tr>');
      $(fragments.join('')).appendTo('#indultos tbody');
    }

    var id = URI.parseQuery(window.location.search)['id'];
    $.ajax({
      url: '/api/pardons/'+encodeURIComponent(id)+'?callback=?',  // FIXME
      dataType: "jsonp",
      jsonpCallback: "onLoad",
      cache: false  // FIXME: development
    }).success(renderResults);      
  });
</script>

{% include footer.html %}
