---
title: Información técnica - API &amp; código fuente
body-attributes: data-target=".docs-sidebar-menu" data-spy="scroll"
---

{% include header.html %}
<!-- Main Content -->
<div id="content" role="main">
<section class="section alt" id="promo">
  <div class="container">
    <div class="hero-unit">
      <h1>Información técnica</h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="row-fluid">
      <div class="span3 docs-sidebar-menu">
        <ul class="nav nav-list docs-sidebar-nav">
          <li class="active"><a href="#sOne">API</a></li>
          <li><a href="#sTwo">Licencia</a></li>
        </ul>
      </div>
      <div class="span9">
        <h1>
          Información técnica
        </h1>
        <p class="lead">
          Estamos trabajando en esto...
        </p>
        <section id="sOne">
          <div class="page-header docs-header">
            <h2>
              API
            </h2>
          </div>
          <p>
            Estamos trabajando en esto
          </p>
        </section>
        <section id="sTwo">
          <div class="page-header docs-header">
            <h2>
              Licencia
            </h2>
          </div>
          <p>
            El Indultómetro es <strong>Software Libre</strong> y está distribuido bajo una licencia <a href="http://www.gnu.org/licenses/agpl-3.0.html">Affero GPL 3</a>. Este programa puede utilizarse, modificarse y distribuirse libremente respetando la autoría original y su licencia. Si se usa este programa o uno derivado para dar un servicio en un servidor (como una página web) deberá incluirse un aviso con un enlace a la aplicación original (<a href="http://www.elindultometro.es">http://www.elindultometro.es</a>).
          </p>
          <p>
            El código fuente puede descargarse del <a href="https://github.com/civio/indultometro">repositorio oficial en github</a>.
          </p>
        </section>
      </div>      
    </div>
  </div>
</section>
{% include footer.html %}

