---
title: Información técnica - API &amp; código fuente
body-attributes: data-target=".docs-sidebar-menu" data-spy="scroll"
---

{% include header.html %}
<!-- Main Content -->
<div id="content" role="main">
<section class="section alt" id="promo">
  <div class="container">
    <div class="hero-unit">
      <h1>Información técnica</h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="row-fluid">
      <div class="span3 docs-sidebar-menu">
        <ul class="nav nav-list docs-sidebar-nav">
          <li class="active"><a href="#sOne">Uno</a></li>
          <li><a href="#sTwo">Dos</a></li>
        </ul>
      </div>
      <div class="span9">
        <h1>
          Información técnica
        </h1>
        <p class="lead">
          Estamos trabajando en esto...
        </p>
        <section id="sOne">
          <div class="page-header docs-header">
            <h2>
              Estamos trabajando en esto
            </h2>
          </div>
          <p>
            ...
          </p>
        </section>
        <section id="sTwo">
          <div class="page-header docs-header">
            <h2>
              ...
            </h2>
          </div>
          <p>
            ...
          </p>
        </section>
      </div>      
    </div>
  </div>
</section>
{% include footer.html %}

